body {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px 160px 100px 160px;
    
}

.header-top {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

ul.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.header-content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 12px;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-signup {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 1em;
    width: 120px;
    border-radius: 8px;
    border: none;
}

.header-signup:hover {
    background-color: #3881f6a2;
}

.header-content-right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
    background-color: #808080;
    max-width: 800px;
}