body {
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.header {
    flex: 1;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 16px 160px 120px 160px;
    
}

.header-top {
    flex: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-links {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

ul.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    flex: 1 1 300px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.header-content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.header-signup {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 1em;
    width: 120px;
    border-radius: 8px;
    border: none;
}

.header-signup:hover {
    background-color: #3881f6a2;
}

.header-content-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
    background-color: #808080;
}

.content-section {
    flex: 1;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 240px 60px 240px;
}

.content-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.content {
    display: flex;
    justify-content: center;
    gap: 44px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.frame {
    border: 4px solid #3882F6;
    border-radius: 20px;
    width: 160px;
    height: 160px;
}

.subtext {
    color: #E5E7EB;
    font-size: 18px;
    width: 160px;
}







